@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url(../_imagens/radio-tv.png);
}
audio#musica {
    display: block;
    position: relative;
    left: 567px;
    top: 483px;
    width: 313px;
    height: 60px;
}
video#filme {
    display: block;
    position: relative;
    left: 75px;
    top: 50px;
    width: 460px;
}